// Pulse Theme
// -----------------------------------------------------

@font-face {
  font-family: 'Maven Pro';
  src: url('../fonts/Maven-Pro-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Maven-Pro-regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Maven-Pro-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('../fonts/Maven-Pro-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Maven-Pro-700.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Maven-Pro-700.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
  url('../fonts/MaterialIcons-Regular.woff') format('woff'),
  url('../fonts/MaterialIcons-Regular.ttf') format('ttf');
}

:focus {
  outline-color: @brand-primary-lighter !important;
}

// Inverse ====================================================================

body.inverse {
  color: @white;
  background-color: @gray-darker;
  .navbar {
    .form-control {
      color: @white !important;
    }
  }
  .form-control {
    color: @white !important;
  }
  h1, h2, h3, h4, h5, h6 {
    color: @white;
  }
  .input-group-addon {
    color: @white;
  }
  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .nav-tabs,
  .nav-pills {
    a {
      color: @gray-lighter;
    }
    li a:hover {
      background-color: @gray-dark;
      border-bottom: 0px;
    }
    li.active a {
      background-color: transparent;
      color: @brand-primary-lighter;
      border-bottom: 0px solid @gray;
    }
  }
  .nav-tabs {
    border:0px;
    li.active a {
      background-color: transparent;
    }
  }
  .nav-pills {
    li.active a {
      background-color: @gray-dark;
    }
  }
  li a:focus, .open a:focus, .open a {
    background-color: transparent;
  }
  .has-warning {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    &.radio label,
    &.checkbox label,
    &.radio-inline label,
    &.checkbox-inline label,
    .form-control-feedback {
      color: @brand-warning-light;
    }

    .form-control,
    .form-control:focus,
    .input-group-addon {
      border-color: @brand-warning-light;
    }
  }

  .has-error {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    &.radio label,
    &.checkbox label,
    &.radio-inline label,
    &.checkbox-inline label,
    .form-control-feedback {
      color: @brand-danger-light;
    }

    .form-control,
    .form-control:focus,
    .input-group-addon {
      border-color: @brand-danger-light;
    }
  }

  .has-success {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    &.radio label,
    &.checkbox label,
    &.radio-inline label,
    &.checkbox-inline label,
    .form-control-feedback {
      color: @brand-success-light;
    }

    .form-control,
    .form-control:focus,
    .input-group-addon {
      border-color: @brand-success-light;
    }
  }
  .text-primary { color: @brand-primary-light;}
  .text-success { color: @brand-success-light;}
  .text-info { color: @brand-info-light;}
  .text-warning { color: @brand-warning-light;}
  .text-danger { color: @brand-danger-lighter;}

  .panel-body, .popover-content {
    color:@gray-darker;
  }
}

// Navbar =====================================================================
.navbar-default {
  border-color: @gray-dark;
}

.navbar-nav {
  float: left;
  margin: 0;
  &.navbar-right {
    float:right;
  }
}

.nav>li {
  float: left;
}

.navbar-nav>li>a {
  @media (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &.active {
    color: @brand-danger-light;
    background-color: transparent;
  }
}

.navbar-inverse .navbar-nav>li>a {
  &:hover {
    color: @white;
    background: inherit;
  }
  &:active,&:focus {
    color: @brand-danger-light;
    background: inherit;
  }
}


// Buttons ====================================================================

.btn {
  border-width: 0px;
}

.input-group-btn {
  .btn {
    padding: 9px 12px;
  }
}

// Icons ====================================================================

.material-icons {
  line-height: inherit;
  font-size: inherit;
  vertical-align: bottom;
}

// Typography =================================================================

.text-primary,
.text-primary:hover {
  color: @brand-primary;
}

.text-success,
.text-success:hover {
  color: @brand-success;
}

.text-danger,
.text-danger:hover {
  color: @brand-danger;
}

.text-warning,
.text-warning:hover {
  color: @brand-warning;
}

.text-info,
.text-info:hover {
  color: @brand-info;
}

.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
  color: #fff;
}

// Tables =====================================================================

table,
.table {
  color: #fff;
  th {
    color: @gray-light;
  }
  a:not(.btn) {
    color: #fff;
    text-decoration: underline;
  }

  .dropdown-menu a {
    text-decoration: none;
  }

  .text-muted {
    color: @text-muted;
  }

  .form-control {
    color: @white !important;
  }
}

.table-responsive > .table {
  background-color: @table-bg;
}

// Forms ======================================================================

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.form-control {
  .transparent {
    border: none;
  }
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: @brand-warning;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border-color: @brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: @brand-danger;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border-color: @brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: @brand-success;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border-color: @brand-success;
  }
}

legend {
  color: @white;
}

.input-group-addon {
  background-color: @input-group-addon-bg;
}

// Navs =======================================================================

.nav-tabs,
.nav-pills {
  a {
    color: @gray-darker;
  }
}

.breadcrumb,
.pager {
  a {
    color: @white;
  }
}

// Indicators =================================================================

.alert {
  border-width: 0px;
  .alert-link,
  a {
    color: @alert-warning-text;
    text-decoration: underline;
  }

  .close {
    text-decoration: none;
  }
}

.close {
  color: #fff;
  text-decoration: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    color: #fff;
    opacity: 1;
  }
}

// Progress bars ==============================================================

// Containers =================================================================

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: @thumbnail-border;
}

a.list-group-item {

  &.active,
  &.active:hover,
  &.active:focus {
    border-color: @list-group-border;
  }

  &-success {
    &.active {
      background-color: @state-success-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken(@state-success-bg, 5%);
    }
  }

  &-warning {
    &.active {
      background-color: @state-warning-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken(@state-warning-bg, 5%);
    }
  }

  &-danger {
    &.active {
      background-color: @state-danger-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken(@state-danger-bg, 5%);
    }
  }
}

.list-group-item {
  color: @white;
}

.jumbotron, .well {
  color: @white;
  .form-control {
    color: @white;
  }
  h1, h2, h3, h4, h5, h6 {
    color: @white;
  }
  .text-primary { color: @brand-primary-light;}
  .text-success { color: @brand-success-light;}
  .text-info { color: @brand-info-light;}
  .text-warning { color: @brand-warning-light;}
  .text-danger { color: @brand-danger-lighter;}
}

.well {
  box-shadow: @tile-shadow;
}

.panel {
  border-width: 0px;
  box-shadow: @tile-shadow;
  margin-bottom: 10px;
  .panel-heading {
    color: @white;
    border-bottom-width: 3px;
    border-top-left-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
  }
  .panel-footer {
    color: @gray-light;
  }
}

// Modals =============================

.modal {
  color: @white;
  h1, h2, h3, h4, h5, h6 {
    color: @gray-light;
  }
}

// MISC ===============================

.text-white { color: @white;}
.text-black { color: @gray-darker; }

.help-block {
  color: @gray;
}

option {
  background-color: @gray-base;
  color: @white;
}

// Material Icons ===========================
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  // Rules for sizing the icon.
  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
}

div.material-icons {
  top: -4px;
  position: relative;
}
